# Reading Data

In [1]:
import pandas as pd

# Column names
column_names = ['Age', 'Sex', 'Chest Pain', 'Rest BP', 'Cholesterol', 'Fasting Sugar', 'Rest ECG', 'Max HR', 'Ex Angina',
                'ST Depression', 'ST Slope', 'Fluoroscopy', 'Thalassemia', 'Heart Disease']

# Reading the Hungarian data file
hungarian_path = '../data/processed.hungarian.data'
hungarian_df = pd.read_csv(hungarian_path, delimiter=',', header=None)
hungarian_df.columns = column_names

print("Number of Rows in Data    : ", hungarian_df.shape[0])
print("Number of Columns in Data : ", hungarian_df.shape[1])
display(hungarian_df.head())

Number of Rows in Data    :  294
Number of Columns in Data :  14

,Age,Sex,Chest Pain,Rest BP,Cholesterol,Fasting Sugar,Rest ECG,Max HR,Ex Angina,ST Depression,ST Slope,Fluoroscopy,Thalassemia,Heart Disease
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [2]:
# Reading the Switzerland data file
switzerland_path = '../data/processed.switzerland.data'
switzerland_df = pd.read_csv(switzerland_path, delimiter=',', header=None)
switzerland_df.columns = column_names

print("Number of Rows in Data    : ", switzerland_df.shape[0])
print("Number of Columns in Data : ", switzerland_df.shape[1])
display(switzerland_df.head())

Number of Rows in Data    :  123
Number of Columns in Data :  14

,Age,Sex,Chest Pain,Rest BP,Cholesterol,Fasting Sugar,Rest ECG,Max HR,Ex Angina,ST Depression,ST Slope,Fluoroscopy,Thalassemia,Heart Disease
0,32,1,1,95,0,?,0,127,0,.7,1,?,?,1
1,34,1,4,115,0,?,?,154,0,.2,1,?,?,1
2,35,1,4,?,0,?,0,130,1,?,?,?,7,3
3,36,1,4,110,0,?,0,125,1,1,2,?,6,1
4,38,0,4,105,0,?,0,166,0,2.8,1,?,?,2

In [3]:
# Reading the Cleveland data file
cleveland_path = '../data/processed.cleveland.data'
cleveland_df = pd.read_csv(cleveland_path, delimiter=',', header=None)
cleveland_df.columns = column_names

print("Number of Rows in Data    : ", cleveland_df.shape[0])
print("Number of Columns in Data : ", cleveland_df.shape[1])
display(cleveland_df.head())

Number of Rows in Data    :  303
Number of Columns in Data :  14

,Age,Sex,Chest Pain,Rest BP,Cholesterol,Fasting Sugar,Rest ECG,Max HR,Ex Angina,ST Depression,ST Slope,Fluoroscopy,Thalassemia,Heart Disease
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [4]:
# Combining all dataframes
df = pd.concat([hungarian_df, switzerland_df, cleveland_df], ignore_index=True)

print("Number of Rows in Data    : ", df.shape[0])
print("Number of Columns in Data : ", df.shape[1])
display(df.head())

Number of Rows in Data    :  720
Number of Columns in Data :  14

,Age,Sex,Chest Pain,Rest BP,Cholesterol,Fasting Sugar,Rest ECG,Max HR,Ex Angina,ST Depression,ST Slope,Fluoroscopy,Thalassemia,Heart Disease
0,28.0,1.0,2.0,130,132,0,2,185,0,0.0,?,?,?,0
1,29.0,1.0,2.0,120,243,0,0,160,0,0.0,?,?,?,0
2,29.0,1.0,2.0,140,?,0,0,170,0,0.0,?,?,?,0
3,30.0,0.0,1.0,170,237,0,1,170,0,0.0,?,?,6,0
4,31.0,0.0,2.0,100,219,0,1,150,0,0.0,?,?,?,0

In [5]:
# Saving the final combined data
df.to_csv('../data/heart_disease_combined.csv', index=False)